<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [26]:
import pandas as pd

Load the dataset into a dataframe.

In [27]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [30]:
# your code goes here
print('There are', df.duplicated().sum(), 'duplicate rows.')
print('There are', df.duplicated('Respondent').sum(), 'duplicate Respondants.')

There are 154 duplicate rows.
There are 154 duplicate Respondants.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [36]:
# your code goes here
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11398 entries, 0 to 11551
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11398 non-null  int64
 1   MainBranch              11398 non-null  object
 2   Hobbyist                11398 non-null  object
 3   OpenSourcer             11398 non-null  object
 4   OpenSource              11317 non-null  object
 5   Employment              11398 non-null  object
 6   Country                 11398 non-null  object
 7   Student                 11347 non-null  object
 8   EdLevel                 11286 non-null  object
 9   UndergradMajor          10661 non-null  object
 10  EduOther                11234 non-null  object
 11  OrgSize                 11302 non-null  object
 12  DevType                 11333 non-null  object
 13  YearsCode               11389 non-null  object
 14  Age1stCode              11385 non-null  object
 15  YearsCodePro            11382 non-null  object
 16  CareerSat               11398 non-null  object
 17  JobSat                  11397 non-null  object
 18  MgrIdiot                10905 non-null  object
 19  MgrMoney                10901 non-null  object
 20  MgrWant                 10905 non-null  object
 21  JobSeek                 11398 non-null  object
 22  LastHireDate            11398 non-null  object
 23  LastInt                 10985 non-null  object
 24  FizzBuzz                11361 non-null  object
 25  JobFactors              11395 non-null  object
 26  ResumeUpdate            11359 non-null  object
 27  CurrencySymbol          11398 non-null  object
 28  CurrencyDesc            11398 non-null  object
 29  CompTotal               10589 non-null  float64
 30  CompFreq                11192 non-null  object
 31  ConvertedComp           10582 non-null  float64
 32  WorkWeekHrs             11276 non-null  float64
 33  WorkPlan                11277 non-null  object
 34  WorkChallenge           11234 non-null  object
 35  WorkRemote              11390 non-null  object
 36  WorkLoc                 11366 non-null  object
 37  ImpSyn                  11393 non-null  object
 38  CodeRev                 11397 non-null  object
 39  CodeRevHrs              8972 non-null   float64
 40  UnitTests               11369 non-null  object
 41  PurchaseHow             11202 non-null  object
 42  PurchaseWhat            11360 non-null  object
 43  LanguageWorkedWith      11387 non-null  object
 44  LanguageDesireNextYear  11264 non-null  object
 45  DatabaseWorkedWith      10945 non-null  object
 46  DatabaseDesireNextYear  10356 non-null  object
 47  PlatformWorkedWith      10987 non-null  object
 48  PlatformDesireNextYear  10854 non-null  object
 49  WebFrameWorkedWith      10005 non-null  object
 50  WebFrameDesireNextYear  9781 non-null   object
 51  MiscTechWorkedWith      9216 non-null   object
 52  MiscTechDesireNextYear  9943 non-null   object
 53  DevEnviron              11369 non-null  object
 54  OpSys                   11364 non-null  object
 55  Containers              11316 non-null  object
 56  BlockchainOrg           9076 non-null   object
 57  BlockchainIs            8788 non-null   object
 58  BetterLife              11300 non-null  object
 59  ITperson                11363 non-null  object
 60  OffOn                   11360 non-null  object
 61  SocialMedia             11105 non-null  object
 62  Extraversion            11378 non-null  object
 63  ScreenName              10891 non-null  object
 64  SOVisit1st              11073 non-null  object
 65  SOVisitFreq             11393 non-null  object
 66  SOVisitTo               11397 non-null  object
 67  SOFindAnswer            11395 non-null  object
 68  SOTimeSaved             11348 non-null  object
 69  SOHowMuchTime           9481 non-null   object
 70  SOAccount               11397 non-null  object
 71  SOPartFreq              10270 non-null  object
 72  SOJobs                  11392 non-null  object
 73  EntTeams                11393 non-null  object
 74  SOComm                  11398 non-null  object
 75  WelcomeChange           11313 non-null  object
 76  SONewContent            9433 non-null   object
 77  Age                     11111 non-null  float64
 78  Gender                  11325 non-null  object
 79  Trans                   11275 non-null  object
 80  Sexuality               10856 non-null  object
 81  Ethnicity               10723 non-null  object
 82  Dependents              11258 non-null  object
 83  SurveyLength            11379 non-null  object
 84  SurveyEase              11384 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 7.5+ MB

Verify if duplicates were actually dropped.

In [37]:
# your code goes here
print('Rows duplicated', df.duplicated().sum())
print('Respondent', df.duplicated('Respondent').sum())

Rows duplicated 0
Respondent 0

In [15]:
print(df['CompFreq'].value_counts())

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [16]:
# your code goes here
print('The Total missing values for all columns is: ',df.isnull().sum().sum())
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df.isnull().sum())

The Total missing values for all columns is:  30967
Respondent                   0
MainBranch                   0
Hobbyist                     0
OpenSourcer                  0
OpenSource                  81
Employment                   0
Country                      0
Student                     51
EdLevel                    112
UndergradMajor             737
EduOther                   164
OrgSize                     96
DevType                     65
YearsCode                    9
Age1stCode                  13
YearsCodePro                16
CareerSat                    0
JobSat                       1
MgrIdiot                   493
MgrMoney                   497
MgrWant                    493
JobSeek                      0
LastHireDate                 0
LastInt                    413
FizzBuzz                    37
JobFactors                   3
ResumeUpdate                39
CurrencySymbol               0
CurrencyDesc                 0
CompTotal                  809
CompFreq                   206
ConvertedComp              816
WorkWeekHrs                122
WorkPlan                   121
WorkChallenge              164
WorkRemote                   8
WorkLoc                     32
ImpSyn                       5
CodeRev                      1
CodeRevHrs                2426
UnitTests                   29
PurchaseHow                196
PurchaseWhat                38
LanguageWorkedWith          11
LanguageDesireNextYear     134
DatabaseWorkedWith         453
DatabaseDesireNextYear    1042
PlatformWorkedWith         411
PlatformDesireNextYear     544
WebFrameWorkedWith        1393
WebFrameDesireNextYear    1617
MiscTechWorkedWith        2182
MiscTechDesireNextYear    1455
DevEnviron                  29
OpSys                       34
Containers                  82
BlockchainOrg             2322
BlockchainIs              2610
BetterLife                  98
ITperson                    35
OffOn                       38
SocialMedia                293
Extraversion                20
ScreenName                 507
SOVisit1st                 325
SOVisitFreq                  5
SOVisitTo                    1
SOFindAnswer                 3
SOTimeSaved                 50
SOHowMuchTime             1917
SOAccount                    1
SOPartFreq                1128
SOJobs                       6
EntTeams                     5
SOComm                       0
WelcomeChange               85
SONewContent              1965
Age                        287
Gender                      73
Trans                      123
Sexuality                  542
Ethnicity                  675
Dependents                 140
SurveyLength                19
SurveyEase                  14
dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [38]:
# your code goes here
print("Missing rows for workloc", df['WorkLoc'].isnull().sum())
print("Missing rows for EdLevel", df['EdLevel'].isnull().sum())
print("Missing rows for Country", df['Country'].isnull().sum())

Missing rows for workloc 32
Missing rows for EdLevel 112
Missing rows for Country 0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [42]:
# your code goes here
print(df['WorkLoc'].value_counts())

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

In [43]:
print(df['Employment'].value_counts())

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [44]:
print(df['UndergradMajor'].value_counts())

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [19]:
#make a note of the majority value here, for future reference
#Office 6806
frq=df['WorkLoc'].value_counts().max()
fwl=df['WorkLoc'].value_counts().idxmax()
print("The most frequent value in the Workloc column is", fwl, "with", frq, "appearances")

The most frequent value in the Workloc column is Office with 6806 appearances

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [45]:
# your code goes here
df["WorkLoc"].fillna("Office", inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [46]:
# your code goes here
wl=df['WorkLoc'].isnull().sum()
print("There are", wl, "missing rows in the column 'WorkLoc'")

There are 0 missing rows in the column 'WorkLoc'

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [47]:
# your code goes here
df.CompFreq.unique().tolist()

['Yearly', 'Monthly', 'Weekly', nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [48]:
# your code goes here
def normalize(freq, comp):
    result = 0
    if freq =='Yearly':
        result = comp
    elif freq =='Monthly':
        result = comp * 12
    elif freq == 'Weekly':
        result = comp * 52
    return result
df['NormalizedAnnualCompensation'] = df.apply(lambda row : normalize(row['CompFreq'],row['CompTotal']),axis =1)
df['NormalizedAnnualCompensation']

0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         0.0
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64

In [49]:
df['NormalizedAnnualCompensation'].median()

98000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).